@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Bigelow+Rules&family=Montserrat:wght@900&family=Open+Sans:wght@300&family=PT+Sans&display=swap");
#title {
  background-color: #d96e60;
}

body {
  font-family: Arial, sans-serif;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2.5rem;
}
.nav-item {
  font-family: "Montserrat";
  font-size: 1.2rem;
  padding: 0px 6%;
}
h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}
h2 {
  font-family: "Montserrat";
  font-size: 2.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}
.title-img {
  width: 50%;
  position: relative;

  margin-left: 200px;
  margin-top: -80px;
}



.icons {
  color: #ef8172;
  font-size: 3.5rem;
  padding: 20% 0 5%;
}
.icons:hover {
  color: #ff4d69;
}
.feature-title {
  font-family: "Montserrat";
}

.feature-title + p {
  color: #8f8f8f;
  padding: 0% 14%;
}

#testimonials {
  text-align: center;
  background-color: #d96e60;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #d96e60;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 3% 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none !important;
  font-size: 1.8rem !important;
}

#pricing {
  padding: 3% 15%;
}
.pricing-title {
  text-align: center;
  margin-top: 40px;
}

.pricing-title + p {
  color: #8f8f8f;
  text-align: center;
}

h3 {
  font-family: "Montserrat";
}

.card {
  margin: 5px !important;
  border: 1px solid rgb(216, 216, 216) !important;
}

.card-body > p {
  color: #8f8f8f;
}

#cta{
  background-color: #d96e60;
}


.cta-title {
  text-align: center;
 padding-top: 100px;
  font-family: 'Montserrat';
  font-size: 3rem;
  width: 60%;
  margin-left: 20%;
}

#footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-icons{
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-text{
  color: #8f8f8f;
}


@media only screen and (max-width: 1080px) {
  .title-img {
    width: 60%;
    margin-left: 150px;
    margin-top: -50px;
  }
  h2{
    font-size: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  .title-img {
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
  }
  .home-title{
    width: 500px !important;
  }
}
